@font-face {
    font-family: 'spotify_font';
    src: url('../../app/assets/fonts/CircularStd-Medium.otf') format("opentype");
}
@font-face {
    font-family: 'spotify_font_book';
    src: url('../../app/assets/fonts/CircularStd-Book.otf') format("opentype");
}
@font-face {
    font-family: 'spotify_font_black';
    src: url('../../app/assets/fonts/CircularStd-Black.otf') format("opentype");
}