
.playlists_container{
    padding: 8px 0px;
    height: 100%;
    width: 100%;
    .playlists_list{
        list-style: none;
        margin: 0;
        padding: 0;
        .playlist_item:hover{
            span{
                color: #fff;
            }
        }
        .playlist_link{
            padding-left: 24px;
            padding-right: 24px;
            color: #b3b3b3;
            cursor: default;
            text-decoration: none;
            align-items: center;
            display: flex;
            flex: 1;
            height: 32px;
            justify-content: flex-start;
            line-height: 32px;
            overflow: hidden;
            span{
                font-size: 0.875rem;
                line-height: 1.25rem;
                text-transform: none;
                letter-spacing: normal;
                font-weight: 300;
            }
        }
    }
}